.header {
    &__in {
        background: linear-gradient(180deg, rgba(48, 50, 49, 0.5) 0%, rgba(17, 58, 38, 0.5) 100%);
        border-radius: 24px;
        padding: 24px 16px;
        position: sticky;
        top: 10px;
    }
    &__logo {
        margin-bottom: 24px;
        display: block;
    }
    &__menu {
        padding-bottom: 8px;
        margin-bottom: 24px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            li {
                a {
                    margin-bottom: 16px;
                    display: block;
                    font-family: "geometria_bold", sans-serif;
                    padding: 17px 16px;
                    font-style: normal;
                    font-weight: 800;
                    font-size: 12px;
                    line-height: 14px;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    text-decoration: none;
                    background: linear-gradient(180deg, rgba(87, 96, 91, 0.3) 0%, rgba(38, 116, 79, 0.3) 100%);
                    border-radius: 8px;
                    position: relative;
                    padding-right: 40px;
                    &:before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        width: 16px;
                        height: 16px;
                        margin-top: -8px;
                        right: 16px;
                        background: url("data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.65117 5.3541L1.79998 0.76755C1.49072 0.476068 0.990282 0.476068 0.68197 0.76755C0.374036 1.05921 0.374036 1.53251 0.68197 1.82381L4.97454 5.88241L0.682726 9.93993C0.374036 10.2318 0.374036 10.7047 0.682726 10.9962C0.991038 11.2887 1.49148 11.2887 1.79998 10.9962L6.65117 6.40982C6.80533 6.26391 6.88222 6.07333 6.88222 5.88241C6.88222 5.6913 6.80533 5.49912 6.65117 5.3541Z' fill='white'/%3E%3C/svg%3E%0A") 50% no-repeat;
                    }
                }
            }
        }
    }
}