@font-face {
	font-family: "geometria_bold";
	font-display: swap;
	src: url("../fonts/geometria_bold.woff2") format("woff2"), url("../fonts/geometria_bold.woff") format("woff"), url("../fonts/geometria_bold.ttf") format("ttf");
	font-weight: 400;
}
@font-face {
	font-family: "geometria_light";
	font-display: swap;
	src: url("../fonts/geometria_light.woff2") format("woff2"), url("../fonts/geometria_light.woff") format("woff"), url("../fonts/geometria_light.ttf") format("ttf");
	font-weight: 400;
}
@font-face {
	font-family: "geometria_medium";
	font-display: swap;
	src: url("../fonts/geometria_medium.woff2") format("woff2"), url("../fonts/geometria_medium.woff") format("woff"), url("../fonts/geometria_medium.ttf") format("ttf");
	font-weight: 400;
}
@font-face {
	font-family: "geometria_extrabold";
	font-display: swap;
	src: url("../fonts/geometria_extrabold.woff2") format("woff2"), url("../fonts/geometria_extrabold.woff") format("woff"), url("../fonts/geometria_extrabold.ttf") format("ttf");
	font-weight: 400;
}
