body {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
    outline: none;
    scroll-behavior: smooth;
}

html,
body {
    margin: 0;
    padding: 0;
    background: #000000;
    height: 100%;
}

.owh {
    overflow: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 52px;
    &:before {
        content: '';
        top: 0;
        left: 0;
        right: 0;
        height: 100vh;
        position: absolute;
        pointer-events: none;
        z-index: 0;
        background: linear-gradient(7deg, rgba(0, 0, 0, 0.5) 23.48%, rgba(65, 255, 164, 0.5) 39.36%, rgba(65, 255, 164, 0) 85.27%);
    }
    @media all and (max-width: 1023px) {
        padding-top: 0;
    }
    &__in {
        overflow: hidden;
        position: relative;
        z-index: 1;
        display: flex;
        margin-bottom: 32px;
        width: 100%;
        &:after { 
            position: absolute;
            content: '';
            opacity: .2;
            z-index: -1;
            top: 0px;
            right: 27px;
            width: 590px;
            height: 660px;
            background: url("data:image/svg+xml,%3Csvg width='590' height='602' viewBox='0 0 590 602' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M294.994 120.172C145.803 120.023 24.7288 240.401 24.579 389.044C24.5329 437.528 37.6233 485.128 62.4904 526.804L49.3539 631.475C47.6831 644.908 57.2473 657.147 70.741 658.823C71.7435 658.949 72.746 659.007 73.7486 659.007C75.7651 659.007 77.7702 658.766 79.7176 658.272L180.027 633.289C215.945 650.293 255.228 659.076 294.994 659.007C444.335 659.007 565.409 538.388 565.409 389.584C565.409 240.78 444.335 120.172 294.994 120.172ZM294.994 610.029C259.86 610.075 225.244 601.682 194.062 585.563C190.582 583.784 186.722 582.865 182.816 582.865C180.799 582.865 178.794 583.106 176.847 583.6L102.603 602.084L112.34 524.324C113.054 518.652 111.752 512.9 108.652 508.078C43.0507 405.462 73.3683 269.298 176.351 203.937C279.346 138.576 416.011 168.783 481.613 271.388C547.214 374.004 516.897 510.168 413.914 575.529C378.376 598.077 337.123 610.052 294.994 610.029ZM57.6276 64.0881C59.8977 94.6847 69.9344 120.528 87.0463 140.08C72.3082 152.181 58.6416 165.545 46.2311 180.011C40.0201 165.935 35.722 147.979 35.722 125.247C35.722 102.515 42.8433 81.562 57.4893 64.2718C57.5354 64.2144 57.6276 64.0881 57.6276 64.0881ZM86.885 0.391907C85.387 0.391907 83.889 0.724854 82.4947 1.39075C52.9953 15.8797 0 52.0561 0 125.235C0 186.348 25.9388 221.721 46.4846 239.964C72.0892 198.357 107.811 163.846 150.343 139.633C84.4306 118.657 89.9156 47.4063 96.8411 12.6421C97.6477 8.86483 96.2304 4.96131 93.1882 2.57328C91.356 1.12669 89.1321 0.391907 86.885 0.391907ZM532.361 64.0881L532.499 64.2488C547.145 81.5506 554.267 101.493 554.267 125.224C554.267 148.955 549.968 165.912 543.757 179.988C531.347 165.522 517.68 152.158 502.942 140.057C520.043 120.517 530.091 94.6847 532.361 64.0881ZM503.103 0.391907C500.856 0.391907 498.633 1.12669 496.812 2.5618C493.77 4.94983 492.352 8.85335 493.159 12.6306C500.073 47.3948 505.569 118.645 439.657 139.621C482.189 163.834 517.911 198.346 543.515 239.953C564.061 221.71 590 186.337 590 125.224C590 52.0446 537.005 15.8682 507.505 1.37927C506.1 0.724854 504.59 0.391907 503.103 0.391907Z' fill='%2341FFA4'/%3E%3C/svg%3E%0A") 50% / 100% no-repeat;
            @media all and (max-width: 1023px) {
                width: 265px;
                height: 294px;
                right: -151px;
                top: 32px;
            }
        }
        @media all and (max-width: 1023px) {
            margin-bottom: 12px;
            flex-direction: column;
        }
        .header {
            flex: 0 0 240px;
            margin-right: 90px;
            @media all and (max-width: 1023px) {
                flex: none;
                margin-right: 0;
            }
        }
        .content {
            width: calc(100% - 360px);
            @media all and (max-width: 1023px) {
                width: 100%;
            }
        }
    }
}

.footer {
    flex: 0 0 auto;
}

.center_block {
    max-width: 1332px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

img {
    max-width: 100%;
    height: auto;
}

textarea {
    resize: none;
}

// scrollbar
/* width */
*::-webkit-scrollbar {
    width: 5px;
}

/* Track */
*::-webkit-scrollbar-track {
    background: #000000;
}

/* Handle */
*::-webkit-scrollbar-thumb {
    background: #7DE310;
    border-radius: 20px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
    background: #7DE310;
    border-radius: 20px;
}

// scrollbar end