body {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
    outline: none;
    scroll-behavior: smooth;
}

html,
body {
    margin: 0;
    padding: 0;
    background: #000000;
    height: 100%;
}

.owh {
    overflow: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 52px;
    &:before {
        content: '';
        top: 0;
        left: 0;
        right: 0;
        height: 100vh;
        position: absolute;
        pointer-events: none;
        z-index: 0;
        background: linear-gradient(7deg, rgba(0, 0, 0, 0.5) 23.48%, rgba(65, 255, 164, 0.5) 39.36%, rgba(65, 255, 164, 0) 85.27%);
    }
    @media all and (max-width: 1023px) {
        padding-top: 0;
    }
    &__in {
        overflow: hidden;
        z-index: 3;
        display: flex;
        margin-bottom: 32px;
        width: 100%;
        position: relative;
        &:after { 
            position: absolute;
            content: '';
            z-index: -1;
            top: 0px;
            right: 27px;
            width: 590px;
            height: 660px;
            background: url("data:image/svg+xml,%3Csvg width='590' height='650' viewBox='0 0 590 650' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.1'%3E%3Cpath d='M294.994 110.172C145.803 110.023 24.7288 230.401 24.579 379.044C24.5329 427.528 37.6233 475.128 62.4904 516.804L49.3539 621.475C47.6831 634.908 57.2473 647.147 70.741 648.823C71.7435 648.949 72.746 649.007 73.7486 649.007C75.7651 649.007 77.7702 648.766 79.7176 648.272L180.027 623.289C215.945 640.293 255.228 649.076 294.994 649.007C444.335 649.007 565.409 528.388 565.409 379.584C565.409 230.78 444.335 110.172 294.994 110.172ZM294.994 600.029C259.86 600.075 225.244 591.682 194.062 575.563C190.582 573.784 186.722 572.865 182.816 572.865C180.799 572.865 178.794 573.106 176.847 573.6L102.603 592.084L112.34 514.324C113.054 508.652 111.752 502.9 108.652 498.078C43.0507 395.462 73.3683 259.298 176.351 193.937C279.346 128.576 416.011 158.783 481.613 261.388C547.214 364.004 516.897 500.168 413.914 565.529C378.376 588.077 337.123 600.052 294.994 600.029ZM57.6276 54.0881C59.8977 84.6847 69.9344 110.528 87.0463 130.08C72.3082 142.181 58.6416 155.545 46.2311 170.011C40.0201 155.935 35.722 137.979 35.722 115.247C35.722 92.5147 42.8433 71.562 57.4893 54.2718C57.5354 54.2144 57.6276 54.0881 57.6276 54.0881ZM86.885 -9.60809C85.387 -9.60809 83.889 -9.27515 82.4947 -8.60925C52.9953 5.87967 0 42.0561 0 115.235C0 176.348 25.9388 211.721 46.4846 229.964C72.0892 188.357 107.811 153.846 150.343 129.633C84.4306 108.657 89.9156 37.4063 96.8411 2.64205C97.6477 -1.13517 96.2304 -5.03869 93.1882 -7.42672C91.356 -8.87331 89.1321 -9.60809 86.885 -9.60809ZM532.361 54.0881L532.499 54.2488C547.145 71.5506 554.267 91.4929 554.267 115.224C554.267 138.955 549.968 155.912 543.757 169.988C531.347 155.522 517.68 142.158 502.942 130.057C520.043 110.517 530.091 84.6847 532.361 54.0881ZM503.103 -9.60809C500.856 -9.60809 498.633 -8.87331 496.812 -7.4382C493.77 -5.05017 492.352 -1.14665 493.159 2.63057C500.073 37.3948 505.569 108.645 439.657 129.621C482.189 153.834 517.911 188.346 543.515 229.953C564.061 211.71 590 176.337 590 115.224C590 42.0446 537.005 5.86819 507.505 -8.62073C506.1 -9.27515 504.59 -9.60809 503.103 -9.60809Z' fill='%2341FFA4'/%3E%3Cpath d='M319.573 379.595C319.573 366.071 308.568 355.106 294.994 355.106C281.42 355.106 270.415 366.071 270.415 379.595C270.415 393.12 281.42 404.084 294.994 404.084C308.568 404.084 319.573 393.12 319.573 379.595Z' fill='%2341FFA4'/%3E%3Cpath d='M442.491 379.595C442.491 366.071 431.486 355.106 417.912 355.106C404.338 355.106 393.333 366.071 393.333 379.595C393.333 393.12 404.338 404.084 417.912 404.084C431.486 404.084 442.491 393.12 442.491 379.595Z' fill='%2341FFA4'/%3E%3Cpath d='M196.666 379.595C196.666 366.071 185.662 355.106 172.087 355.106C158.513 355.106 147.508 366.071 147.508 379.595C147.508 393.12 158.513 404.084 172.087 404.084C185.662 404.084 196.666 393.12 196.666 379.595Z' fill='%2341FFA4'/%3E%3C/g%3E%3C/svg%3E%0A") 50% / 100% no-repeat;
            @media all and (max-width: 1023px) {
                width: 265px;
                height: 294px;
                right: -151px;
                top: 32px;
            }
        }
        @media all and (max-width: 1023px) {
            margin-bottom: 12px;
            flex-direction: column;
        }
        .header {
            flex: 0 0 240px;
            margin-right: 90px;
            @media all and (max-width: 1023px) {
                flex: none;
                margin-right: 0;
            }
        }
        .content {
            width: calc(100% - 360px);
            @media all and (max-width: 1023px) {
                width: 100%;
            }
            h1 {
                font-family: "geometria_bold", sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 48px;
                line-height: 50px;
                color: #FFFFFF;
                margin: 0;
                margin-bottom: 24px;
                @media all and (max-width: 1023px) {
                    margin-bottom: 16px;
                    font-size: 32px;
                    line-height: 40px;
                }
            }
            &__text {
                font-family: "geometria_medium", sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                color: #FFFFFF;
                opacity: 0.5;
                @media all and (max-width: 1023px) {
                    font-size: 14px;
                    line-height: 16px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    -ms-line-clamp: 5;
                    -webkit-line-clamp: 5;
                    line-clamp: 5;
                    -webkit-box-orient: vertical;
                    display: -webkit-box;
                    &.isActive {
                        display: block;
                        line-clamp: none;
                        overflow: unset;
                    }
                }
            }
            &__block {
                padding-bottom: 72px;
                @media all and (max-width: 1023px) {
                    padding-bottom: 16px;
                }
            }
        }
    }
}

.footer {
    flex: 0 0 auto;
}

.center_block {
    max-width: 1332px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

img {
    max-width: 100%;
    height: auto;
}

textarea {
    resize: none;
}
@media all and (min-width: 1024px) {
    // scrollbar
    /* width */
    *::-webkit-scrollbar {
        width: 5px;
    }
    
    /* Track */
    *::-webkit-scrollbar-track {
        background: #000000;
    }
    
    /* Handle */
    *::-webkit-scrollbar-thumb {
        background: #7DE310;
        border-radius: 20px;
    }
    
    /* Handle on hover */
    *::-webkit-scrollbar-thumb:hover {
        background: #7DE310;
        border-radius: 20px;
    }
    
    // scrollbar end
}
.header__form, .footer__info--form {
    p {
        margin: 0 !important;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .wpcf7-spinner {
        display: none !important;
    }
    .wpcf7-response-output, .wpcf7-not-valid-tip {
        display: none !important;
    }
    input[type=email] {
        width: 100% !important;
    }
}
.content {
    h1, h2, h3, h4, h5 {
        margin-top: 0;
        color: #fff;
        font-family: "geometria_bold";
        font-weight: 700;
    }
}