.prev_block {
    padding-top: 36px;
    padding-bottom: 4px;
    @media all and  (max-width: 1023px) {
        padding-top: 16px;
    }
    &__in {
        display: flex;
        flex-wrap: wrap;
        margin-left: -16px;
        margin-right: -16px;
        @media all and  (max-width: 1023px) {
            margin-left: 0;
            margin-right: 0;
        }
    }
    &__block {
        width: calc(50% - 32px);
        margin-bottom: 32px;
        margin-left: 16px;
        margin-right: 16px;
        background: linear-gradient(180deg, rgba(48, 50, 49, 0.5) 0%, rgba(17, 58, 38, 0.5) 100%);
        border-radius: 24px;
        padding: 40px;
        @media all and  (max-width: 1023px) {
            padding: 16px;
            margin-bottom: 16px;
            margin-left: 0;
            margin-right: 0;
            width: 100%;
            position: relative;
        }
    }
    &__img {
        width: 56px;
        height: 56px;
        margin-bottom: 16px;
        @media all and  (max-width: 1023px) {
            width: 32px;
            height: 32px;
            position: absolute;
            top: 16px;
            left: 16px;
        }
    }
    &__title {
        font-family: "geometria_bold", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 16px;
        color: #FFFFFF;
        @media all and  (max-width: 1023px) {
            font-size: 20px;
            line-height: 24px;
            padding-left: 48px;
            margin-top: 5px;
        }
    }
    &__text {
        font-family: 'geometria_medium', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        color: #FFFFFF;
        opacity: 0.5;
    }
}